####################################################################
# Editor configuration file
####################################################################

root = true

# No tabs code files
[*.{gitattributes,gitignore,editorconfig,md}]
ruler = 80
indent_style = space
charset = urf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Shallow indentation code files
[*.{json,lock,yml}]
ruler = 80
indent_style = space
indent_size = 2
charset = urf-8
trim_trailing_whitespace = true
insert_final_newline = true
