####################################################################
# Editor configuration file
####################################################################

root = true

# No tabs code files
[*.{gitattributes,gitignore,editorconfig,md,txt}]
ruler = 80
indent_style = space
charset = urf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Shallow indentation code files
[*.{html,json,lock,yml,svg}]
ruler = 80
indent_style = space
indent_size = 2
charset = urf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Deep indentation code files
[*.mts]
ruler = 80
indent_style = space
indent_size = 4
charset = urf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
