####################################################################
# Editor configuration file
####################################################################

root = true

# Shallow indentation code files
[*.{gitattributes,gitignore,editorconfig,html,json,lock,yml,svg,md}]
ruler = 80
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Deep indentation code files
[*.{mts,tsx,txt}]
ruler = 80
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
