####################################################################
# Temporary files.
####################################################################
temp/
tmp/
*.tmp

####################################################################
# Log and backup files.
####################################################################
logs/
backup/
*.log
*.bak
/coverage/

####################################################################
# Package Manager files
####################################################################
/node_modules/

####################################################################
# Build output
####################################################################
/dist/
/results/
/.lighthouseci/
