####################################################################
# Temporary files.
####################################################################
temp/
tmp/
*.tmp

####################################################################
# Log and backup files.
####################################################################
logs/
backup/
*.log
*.bak

####################################################################
# Package Manager files
####################################################################
/node_modules/
