####################################################################
# Attributes definitions
####################################################################
[attr]text              !binary text eol=lf diff merge
[attr]code              !binary text eol=lf diff merge=text
[attr]binary            -text -diff -merge

####################################################################
# File extensions
####################################################################
.editorconfig           code
.gitattributes          code
.gitignore              code
*.html                  code
*.ico                   binary
*.json                  code
*.lock                  code
*.md                    text
*.ts                    code
*.png                   binary
*.svg                   code
*.tsx                   code
*.txt                   text
*.yml                   code
